<ion-header>
  <ion-toolbar>
    <ion-title><span routerLink="/home" role="button">Home</span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <h1>{{Fname}}</h1>
  <ion-card id="card-1" button>
    <img id="img" src="assets\img\talong.jpg"/>
  <ion-card-content>
    Egg Plant
    <br>
    Php 12.00
  </ion-card-content>
  </ion-card>

  <ion-card id="card-1" button routerLink="/home">
    <img  src="assets\img\grapes.jpg"/>
  <ion-card-content>
    Yams
    <br>
    Php 67.00
  </ion-card-content>
  </ion-card>
  <ion-button routerLink="/home">home</ion-button>


  
</ion-content>
