<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

      
        <div class="mid">
          <div class="logo">
            <ion-img id="img" src ="assets\img\1.png"></ion-img>
          </div>
        </div>

 
      <div id="button-frame">

        <ion-button (click)="btnlogin()" id="login-button" expand="block">Login</ion-button>
        <ion-button (click)="btnsignup()" id="signup-button" expand="block"> Signup</ion-button>
      </div>

      

      


</ion-content>
